* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
  }

.main {
  height: 100%;
  display: flex;
}

.main > div {
  border-radius: 40px;
  box-shadow: 0px 2px 10px #d0d3d9;
  height: 15vh;
  min-height: 150px;
  width: 80%;
  margin-left: 10%;
  margin-top: 3vh;
  padding-top: 2vh;
  padding: 30px 20px;
  position: relative;
}
.contents {
	display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  /* padding: 30px 20px; */
}

/* .main > div:last-child {
	height: 70vh;
} */

h3 {
	display: flex;
	margin: 0px 10px; 
	/* font-size: 29px; */
	/* color: #3d3d3d */
}

img {
	/* margin-top: 0px; */
	height: 25px;
	width: 25px;
	/* display: flex; */
}

h4 {
	display: inline;
	
}

.time{
	position: absolute;
	bottom: 30px;
	margin-left: 10px;
}