:root {
    --text-color: #f0f4f5;
    --background-color: #2685bb;
    --accent-color: #f0f4f5;
}
body {
    margin: 0;
    
}
a {
    text-decoration: none;
    color: var(--text-color);
}
.navbar {
    position: sticky;
    top:0px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;

}
.navbar__logo {
   font-size: 24px;
   color: var(--text-color);
   /* display: flex; */
   /* right: 15px; */
   /* margin-left: auto; */
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar__menu li {
    padding: 8px 12px;
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    left: 15px;
    font-size: 24px;
    color: var(--accent-color);
    float: left;
}
@media screen and (max-width: 768px) {
    .navbar {
            flex-direction: column;
            align-items: flex-start;
            padding: 8px 24px;
    }
    .navbar__menu {
            display: none;
            flex-direction: column;
            align-items: center;
            width: 100%;
    }
    .navbar__menu li {
            width: 100%;
            text-align: center;
    }
    .navbar__toggleBtn {
             display: block;
     }
    .navbar__menu.active {
            display: flex;
            /* width: 50%;
            margin-left: 0px; */
    }
}


.main {

}
